
body{
    margin: 0;
    

}
.heading{
    font-size: 60px;
}
.top-banner{
    
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    
}

.flexible-container{
    display: flex;

   
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
}
.half-width img{
    width: 100%;

}

.half-width p{
    color: grey;
}
.button{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(Yellow, orange);
    border-radius: 10px;
}
.about{
    display: block;
    background-color: rgba(28, 196, 226, 0.262);
    padding: 80px 100px;
    border-radius: 40px;
    
    margin: 100px 150px ;
    
    box-shadow: 10px 10px 10px skyblue;
}
.about-element{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
   
}
.about p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: grey;
    

}
.inline-block{
    display: inline-block;
    padding: 15px;
    color: rgb(8, 5, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.half-width-2{
    width:50%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 15%;

}
.half-width-2 img{
    width: 100%;
}
.half-width-2 p{
    color: grey;
}
.button1{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(cyan, blue);
    color: aliceblue;
    border-radius: 8px;
}
.experiences{
    background-image: url();
    background-repeat: no-repeat;
    background-position: left;
}

.heading-ex{
    color: black;
    font-size: 50px;
    margin-left: 3%;

}
.experiences-item{
    width: 50%;
    margin: 5%;
    padding: 3%;
    border-left: 8px solid rgba(128, 0, 128, 0.604);
    
    border-radius: 15px;
    box-shadow: 10px 10px 30px 12px rgba(128, 0, 128, 0.384);

}
.ex-color{
    color: orange;
}
.ex-h2{
    color: blue;
}

.contact-form{
    background-color: rgba(255, 182, 193, 0.339);
    padding: 5% ;
    border-radius: 10px;
    display: flex;
    margin: 5%;
    box-shadow: 10px 10px 10px pink;
}

.half-width-3{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
}
.half-width-3 p{
    color: grey;
    text-align: justify;
}
#form-te{
    width:300px;
    height: 80px;
    margin-bottom: 15px;
    text-align: left;
}
#form-m{
    width:300px;
    height: 150px;
    margin-bottom: 15px;
}
.submit-button{
    padding: 10px 30px;
    background-image: linear-gradient(pink, purple);
    border-radius: 10px;

}

